# Importing Data Using Pandas - Lab

## Introduction

In this lab, you'll get some practice with loading files with summary or metadata, and if you find that easy, the optional "level up" content covers loading data from a currupted csv file!

## Objectives
You will be able to:
* Import data from csv files and Excel files
* Understand and explain key arguments for imports
* Save information to csv and Excel files
* Access data within a Pandas DataFrame (print() and .head())

#  Loading Files with Summary or Meta Data

Load either of the files Zipcode_Demos.csv or Zipcode_Demos.xlsx. What's going on with this dataset? Clean it up into a useable format and describe the nuances of how the data is currently formatted.

All data files are stored in a folder titled 'Data'.

In [4]:
import pandas as pd
zipcodes = pd.read_csv('Data/Zipcode_Demos.csv') # read csv file and store in the zipcodes variable
zipcodes.head() # Look at first 5 rows of the dataset

,0,Average Statistics,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,...,Unnamed: 37,Unnamed: 38,Unnamed: 39,Unnamed: 40,Unnamed: 41,Unnamed: 42,Unnamed: 43,Unnamed: 44,Unnamed: 45,Unnamed: 46
0,1,NaN,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2,JURISDICTION NAME,10005.8,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,3,COUNT PARTICIPANTS,9.4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,4,COUNT FEMALE,4.8,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,5,PERCENT FEMALE,0.404,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [9]:
print('This dataset has ' + str(zipcodes.size) + ' entries.')
zipcodes.info() # Look at summary about the data

This dataset has 2679 entries.
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 57 entries, 0 to 56
Data columns (total 47 columns):
0                     57 non-null int64
Average Statistics    56 non-null object
Unnamed: 2            57 non-null object
Unnamed: 3            11 non-null object
Unnamed: 4            11 non-null object
Unnamed: 5            11 non-null object
Unnamed: 6            11 non-null object
Unnamed: 7            11 non-null object
Unnamed: 8            11 non-null object
Unnamed: 9            11 non-null object
Unnamed: 10           11 non-null object
Unnamed: 11           11 non-null object
Unnamed: 12           11 non-null object
Unnamed: 13           11 non-null object
Unnamed: 14           11 non-null object
Unnamed: 15           11 non-null object
Unnamed: 16           11 non-null object
Unnamed: 17           11 non-null object
Unnamed: 18           11 non-null object
Unnamed: 19           11 non-null object
Unnamed: 20           11 non-null object
Unnamed: 21           11 non-null object
Unnamed: 22           11 non-null object
Unnamed: 23           11 non-null object
Unnamed: 24           11 non-null object
Unnamed: 25           11 non-null object
Unnamed: 26           11 non-null object
Unnamed: 27           11 non-null object
Unnamed: 28           11 non-null object
Unnamed: 29           11 non-null object
Unnamed: 30           11 non-null object
Unnamed: 31           11 non-null object
Unnamed: 32           11 non-null object
Unnamed: 33           11 non-null object
Unnamed: 34           11 non-null object
Unnamed: 35           11 non-null object
Unnamed: 36           11 non-null object
Unnamed: 37           11 non-null object
Unnamed: 38           11 non-null object
Unnamed: 39           11 non-null object
Unnamed: 40           11 non-null object
Unnamed: 41           11 non-null object
Unnamed: 42           11 non-null object
Unnamed: 43           11 non-null object
Unnamed: 44           11 non-null object
Unnamed: 45           11 non-null object
Unnamed: 46           11 non-null object
dtypes: int64(1), object(46)
memory usage: 21.0+ KB

In [31]:
zipcodes = pd.read_csv('Data/Zipcode_Demos.csv', usecols =[1,2]) #read csv file again, only loading columns 1 and 2
zipcodes = zipcodes.drop(0) # drop the first tow
df = zipcodes[45:] # create a different dataframe for this data
zipcodes = zipcodes[0:45] #save zipcodes for the first 45 rows
zipcodes

                     Average Statistics Unnamed: 2
1                     JURISDICTION NAME    10005.8
2                    COUNT PARTICIPANTS        9.4
3                          COUNT FEMALE        4.8
4                        PERCENT FEMALE      0.404
5                            COUNT MALE        4.6
6                          PERCENT MALE      0.396
7                  COUNT GENDER UNKNOWN          0
8                PERCENT GENDER UNKNOWN          0
9                    COUNT GENDER TOTAL        9.4
10                 PERCENT GENDER TOTAL         80
11               COUNT PACIFIC ISLANDER          0
12             PERCENT PACIFIC ISLANDER          0
13                COUNT HISPANIC LATINO          2
14              PERCENT HISPANIC LATINO      0.105
15                COUNT AMERICAN INDIAN          0
16              PERCENT AMERICAN INDIAN          0
17             COUNT ASIAN NON HISPANIC        3.6
18           PERCENT ASIAN NON HISPANIC      0.437
19             COUNT WHITE NON HISPANIC        0.8
20           PERCENT WHITE NON HISPANIC      0.036
21             COUNT BLACK NON HISPANIC        2.6
22           PERCENT BLACK NON HISPANIC      0.181
23                COUNT OTHER ETHNICITY        0.4
24              PERCENT OTHER ETHNICITY       0.04
25              COUNT ETHNICITY UNKNOWN          0
26            PERCENT ETHNICITY UNKNOWN          0
27                COUNT ETHNICITY TOTAL        9.4
28              PERCENT ETHNICITY TOTAL       79.9
29       COUNT PERMANENT RESIDENT ALIEN        0.5
30     PERCENT PERMANENT RESIDENT ALIEN      0.061
31                     COUNT US CITIZEN        8.9
32                   PERCENT US CITIZEN      0.739
33           COUNT OTHER CITIZEN STATUS          0
34         PERCENT OTHER CITIZEN STATUS          0
35         COUNT CITIZEN STATUS UNKNOWN          0
36       PERCENT CITIZEN STATUS UNKNOWN          0
37           COUNT CITIZEN STATUS TOTAL        9.4
38         PERCENT CITIZEN STATUS TOTAL         80
39     COUNT RECEIVES PUBLIC ASSISTANCE        2.3
40   PERCENT RECEIVES PUBLIC ASSISTANCE      0.151
41    COUNT NRECEIVES PUBLIC ASSISTANCE        7.1
42  PERCENT NRECEIVES PUBLIC ASSISTANCE      0.649
43      COUNT PUBLIC ASSISTANCE UNKNOWN          0
44    PERCENT PUBLIC ASSISTANCE UNKNOWN          0
45        COUNT PUBLIC ASSISTANCE TOTAL        9.4

In [32]:
zipcodes.to_csv('Data/Zipcode_Demos_cleanup.csv', index = False) # save the cleaned up data

In [34]:
pd.read_csv('Data/Zipcode_Demos_cleanup.csv') # check the saved data

                     Average Statistics  Unnamed: 2
0                     JURISDICTION NAME   10005.800
1                    COUNT PARTICIPANTS       9.400
2                          COUNT FEMALE       4.800
3                        PERCENT FEMALE       0.404
4                            COUNT MALE       4.600
5                          PERCENT MALE       0.396
6                  COUNT GENDER UNKNOWN       0.000
7                PERCENT GENDER UNKNOWN       0.000
8                    COUNT GENDER TOTAL       9.400
9                  PERCENT GENDER TOTAL      80.000
10               COUNT PACIFIC ISLANDER       0.000
11             PERCENT PACIFIC ISLANDER       0.000
12                COUNT HISPANIC LATINO       2.000
13              PERCENT HISPANIC LATINO       0.105
14                COUNT AMERICAN INDIAN       0.000
15              PERCENT AMERICAN INDIAN       0.000
16             COUNT ASIAN NON HISPANIC       3.600
17           PERCENT ASIAN NON HISPANIC       0.437
18             COUNT WHITE NON HISPANIC       0.800
19           PERCENT WHITE NON HISPANIC       0.036
20             COUNT BLACK NON HISPANIC       2.600
21           PERCENT BLACK NON HISPANIC       0.181
22                COUNT OTHER ETHNICITY       0.400
23              PERCENT OTHER ETHNICITY       0.040
24              COUNT ETHNICITY UNKNOWN       0.000
25            PERCENT ETHNICITY UNKNOWN       0.000
26                COUNT ETHNICITY TOTAL       9.400
27              PERCENT ETHNICITY TOTAL      79.900
28       COUNT PERMANENT RESIDENT ALIEN       0.500
29     PERCENT PERMANENT RESIDENT ALIEN       0.061
30                     COUNT US CITIZEN       8.900
31                   PERCENT US CITIZEN       0.739
32           COUNT OTHER CITIZEN STATUS       0.000
33         PERCENT OTHER CITIZEN STATUS       0.000
34         COUNT CITIZEN STATUS UNKNOWN       0.000
35       PERCENT CITIZEN STATUS UNKNOWN       0.000
36           COUNT CITIZEN STATUS TOTAL       9.400
37         PERCENT CITIZEN STATUS TOTAL      80.000
38     COUNT RECEIVES PUBLIC ASSISTANCE       2.300
39   PERCENT RECEIVES PUBLIC ASSISTANCE       0.151
40    COUNT NRECEIVES PUBLIC ASSISTANCE       7.100
41  PERCENT NRECEIVES PUBLIC ASSISTANCE       0.649
42      COUNT PUBLIC ASSISTANCE UNKNOWN       0.000
43    PERCENT PUBLIC ASSISTANCE UNKNOWN       0.000
44        COUNT PUBLIC ASSISTANCE TOTAL       9.400

## Level Up (Optional)

### Loading Corrupt CSV files

Occassionally, you encountered some really ill formatted data. One example of this can be data that has strings containing commas in a csv file. Under the standard protocol, when this occurs, one is suppossed to use quotes to differentiate between the commas denoting fields and commas within those fields themselves. For example, we could have a table like this:  

ReviewerID,Rating,N_reviews,Review,VenueID
123456,4,137,This restuarant was pretty good, we had a great time.,98765

Which should be saved like this if it were a csv (to avoid confusion with the commas in the Review text):
"ReviewerID","Rating","N_reviews","Review","VenueID"
"123456","4","137","This restuarant was pretty good, we had a great time.","98765"

Attempt to import the corrupt file, or at least a small preview of it. It is appropriately titled Yelp_Reviews_corrupt.csv. Investigate some of the intricacies of skipping rows to then pass over this error and comment on what you think is going on.

In [ ]:
#Hint: here's a useful programming pattern to use.
try:
    #do something
except Exception as e:
    #handle your exception e

In [ ]:
#Your code here